
.container{
    background-color: whitesmoke;
    font-family: monospace;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.colorDisplay{

display: block;
width: 150px;
height: 150px;
text-align: center;
font-size: 2rem;
padding: 10px 20px;
border-radius: 10px;
animation: glow linear infinite 2s;
transition: background-color 0.25s;


}

@keyframes glow {

50%{box-shadow: 0px 0px 40px var(--glow-color);}

}